<div class="row">
  <%= render :partial => 'tweets', :locals => {:tweets => @tweets, :className => 'span8', :title => 'Tweets'} %>
  <% if signed_in? %>
    <%= render :partial => 'tweet_form', :locals => {:className => 'span6'} %>
  <% end %>
</div>
